$primary-colour: #ff6347;
$secondary-colour: #fff;
$base-font: 'Montserrat', sans-serif;

body{
    margin: 0;
    padding: 0;
    background: $primary-colour;
    color: $secondary-colour;
    font-family: $base-font;
}

.container{
    margin: 0px auto;
    width: 80%;
    text-align: center;
}

h1{
    font-size: 3em;
}