$primary-colour: #37bfe5;
$secondary-colour: #000;
$base-font: arial;

body{
    background: $primary-colour;
    color: $secondary-colour;
    font-family: $base-font;

    .container{
        text-align: center;
    }

h1{
    font-size: 3em;
}
}